<!DOCTYPE html>
<html>

<head>
	<title>VS Code</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
	<link rel="stylesheet" href="./index.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

	<script src="./index.js"></script>
</head>

<body>
	<div id="container">
		<div id="top-bar"></div>
		<div id="main-window">
			<div id="explorer-window">
				<div id="content"></div>
			</div>
			<div id="editor-terminal-window">
				<div id="text-editor"></div>
				<div id="terminal"></div>
			</div>
		</div>
	</div>
	</div>
	<script src="./node_modules/monaco-editor/min/vs/loader.js"></script>
	
</body>
</html>