html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#container {
    border: 1px solid black;
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}

#top-bar {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    height: 50px;
}

#main-window {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px );
}

#explore-window,#editor-terminal-window{

    height: 100%;
}

#explorer-window {

    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    overflow: auto;
    width: 225px;
    border-right: 3px solid red;
}

#editor-terminal-window {

    display: flex;
    flex-direction: column;
    width: calc(100vw - 227px);

}

#text-editor {
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown; */
    height: calc(100% - 187px);
    overflow: hidden;
    /* border-bottom: 3px solid brown; */
}

#terminal {
    display: flex;
    flex-direction: column;
    /* border: 1px solid lime; */
    height: 187px;
    width: auto;
    
}

#content{
    height: 100%;
    width: auto;
}
.xterm .xterm-viewport::-webkit-scrollbar{
display: none;
}