html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#top-bar {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    height: 50px;
}

#main-window {
    display: flex;
    flex-direction: row;
}



#explorer-window {

    display: flex;
    flex-direction: column;
    border: 1px solid red;
    overflow: auto;
    width: 225px;
    border-right: 3px solid red;
}

#editor-terminal-window {

    display: flex;
    flex-direction: column;
    border: 1px solid green;
    width: calc(100vw - 227px);

}

#text-editor {
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
    height: calc(100vh - 300px);
    border-bottom: 3px solid brown;
}

#terminal {
    display: flex;
    flex-direction: column;
    border: 1px solid lime;
    height: 200px;
    width: auto;
    
}

#content{
    height: calc(100vh - 20px);
    width: auto;
}